@use 'sass:map';
@use 'sass:string';
@use './vars' as *;

@function join($list) {
  $name: $prefix;

  @each $item in $list {
    @if $item != '' {
      $name: $name + '-' + $item;
    }
  }
  @return $name;
}

@function get($val, $levels: null) {
  $len: length($levels);
  $result: '';

  @for $i from 1 through $len {
    $item: nth($levels, $i);
    $result: $result + var(--#{join(if($item == null, $val, $val $item))});

    @if $i < $len {
      $result: $result + ' ';
    }
  }
  @return #{$result};
}

@function bg($vals: '') {
  $flag: 'bg';

  @return if($vals == '', get($flag), get($flag, $vals));
}
@function font($vals: '') {
  $flag: 'font';

  @return if($vals == '', get($flag), get($flag, $vals));
}
@function border($vals: '') {
  $flag: 'border';

  @return if($vals == '', get($flag), get($flag, $vals));
}
@function hover($vals: '') {
  $flag: 'hover';

  @return if($vals == '', get($flag), get($flag, $vals));
}
