@use 'sass:map';

$prefix: 'x' !default;

// Base
$baseMap: (
  white: #fff,
  black: #131416,
  primary: #3c97dd,
  success: #1eb3a1,
  warning: #ffab1a,
  danger: #fa5347,
  blue: #2c5ced,
  gray: #5f646d,
) !default;
@function getBase($color) {
  @return map.get($baseMap, $color);
}

// Grey
$grayMap: (
  50: hsl(240, 7%, 97%),
  100: hsl(210, 8%, 95%),
  200: hsl(225, 7%, 89%),
  300: hsl(217, 7%, 78%),
  400: hsl(224, 6%, 64%),
  500: hsl(218, 7%, 55%),
  600: hsl(219, 7%, 40%),
  700: hsl(214, 5%, 28%),
  800: hsl(218, 7%, 22%),
  900: hsl(225, 7%, 14%),
  950: hsl(220, 7%, 8%),
) !default;
@function getGray($level) {
  @return map.get($grayMap, $level);
}

$bgLightMap: (
  '': getGray(50),
  pop: white,
  card: white,
  code: hsl(220, 80%, 90%),
  scrollbar: hsl(228, 10%, 90%),
  selection: hsl(220, 80%, 90%),
);
$bgDarkMap: (
  '': getGray(950),
  pop: getGray(800),
  card: getGray(900),
  code: hsl(246, 28%, 28%),
  scrollbar: hsl(210, 8%, 24%),
  selection: hsla(245, 58%, 51%, 0.4),
);

$fontLightMap: (
  '': getGray(800),
  sub: getGray(400),
);
$fontDarkMap: (
  '': getGray(200),
  sub: getGray(500),
);

$borderLightMap: (
  '': getGray(300),
  btn: getGray(200),
);
$borderDarkMap: (
  '': getGray(700),
  btn: transparent,
);

$hoverLightMap: (
  '': rgba(0, 0, 0, 0.08),
  dark: rgba(0, 0, 0, 0.06),
  darker: rgba(0, 0, 0, 0.04),
);
$hoverDarkMap: (
  '': rgba(255, 255, 255, 0.08),
  dark: rgba(255, 255, 255, 0.06),
  darker: rgba(255, 255, 255, 0.04),
);
